@model SnkrsBank.Web.Areas.Admin.Models.ModalVM

<div class="modal fade confirmation-modal" id="@Model.ModalId" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">@Model.ModalTitle</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Model.ModalMessage
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-t btn-sm btn-waves waves-effect waves-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-t btn-sm btn-waves waves-effect waves-light" id="confirm">@Model.SubmitButtonText</button>
            </div>
        </div>
    </div>
</div>