@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="panel panel-white panel-large">
    <div class="panel-body pt-2x pb">
        <h2>@ViewData["Title"]</h2>
        <p>
            Thank you for confirming your email. You will not be able to log in with your account at this time. You will receive an email upon approval.
        </p>
    </div>
</div>