@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="panel panel-white panel-large">
    <div class="panel-body pt-2x pb">

        <h2>@ViewData["Title"]</h2>
        <p>Please check your email to reset your password.</p>
    </div>
</div>

