@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="panel panel-white panel-large">
    <div class="panel-body pt-2x pb">
        <h2>@ViewData["Title"]</h2>
        <p>This account has been locked out, please try again later. Please try again later or contact an administrator.</p>
    </div>
</div>
