@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="alert alert-alt alert-danger mb alert-large alert-validation alert-dismissable fade in" role="alert" asp-validation-summary="All">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
</div>

<div class="panel panel-white panel-large">
    <div class="panel-body pt-2x pb">

        <h2>@ViewData["Title"]</h2>
        <div class="secondary">Create a new account.</div>

        <div class="row">
            <div class="col-xs-12">
                <form method="post" class="form-custom" asp-route-returnUrl="@Model.ReturnUrl">

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="md-input">
                                <label asp-for="Input.Email" class="md-input-placeholder"></label>
                                <input type="text" asp-for="Input.Email" class="md-input-control">
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-md-6">
                            <div class="md-input">
                                <label asp-for="Input.Firstname" class="md-input-placeholder"></label>
                                <input type="text" asp-for="Input.Firstname" class="md-input-control">
                            </div>
                            <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="md-input">
                                <label asp-for="Input.Lastname" class="md-input-placeholder"></label>
                                <input type="text" asp-for="Input.Lastname" class="md-input-control">
                            </div>
                            <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group mt">
                        <div class="col-xs-12 col-md-6">
                            <div class="md-input">
                                <label asp-for="Input.Password" class="md-input-placeholder"></label>
                                <input type="password" asp-for="Input.Password" class="md-input-control">
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="md-input">
                                <label asp-for="Input.ConfirmPassword" class="md-input-placeholder"></label>
                                <input type="password" asp-for="Input.ConfirmPassword" class="md-input-control">
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group mt">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>

                    <div class="form-group mt-2x">
                        <div class="col-xs-12">
                            Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
