@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="panel panel-white panel-large">
    <div class="panel-body pt-2x pb">
        <h2>@ViewData["Title"]</h2>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>